In [47]:
import requests
from lxml import etree
import time
import random
import ssl
import json
import pandas as pd

In [18]:
# use spider to get the content of the website
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'}

html = requests.get(
            url=url,
            headers=headers
        ).content.decode('utf-8','ignore')

dd = etree.HTML(html)

In [104]:
# get Postal_code by Xpath
# the responce contains '\n', I ues 'replace' to get rid of them. 
Postal_code = dd.xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[1]/tbody/tr/td[1]/text()')
Postal = []
for i in Postal_code:
    i = i.replace('\n','')
    Postal.append(i)

In [105]:
Borough_html = dd.xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[1]/tbody/tr/td[2]/text()')
Borough = []
for i in Borough_html:
    i = i.replace('\n','')
    Borough.append(i)

In [106]:
Neighbourhood_html = dd.xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[1]/tbody/tr/td[3]/text()')
Neighbourhood = []
for i in Neighbourhood_html:
    i = i.replace('\n','')
    Neighbourhood.append(i)

In [79]:
Toronto = {'Postal':Postal,'Borough':Borough,'Neighbourhood':Neighbourhood}

In [78]:
# transform to dataframe
Toronto_df = pd.DataFrame(Toronto)

Toronto_df

,Postal,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [101]:
# drop 'Not assigned'
Toronto_df1 = Toronto_df.drop(Toronto_df[Toronto_df.Borough == 'Not assigned'].index)

Toronto_df1

,Postal,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [103]:
Toronto_df1.shape

(103, 3)